.product-thumbnail{
    width: 33%;
    display: inline-block;
}
.product-thumbnail .product-image{
    width: 100%;
    height: 350px;
    object-fit: cover;
}
.product-thumbnail a{
    text-decoration: none;
}
.product-thumbnail .name-text{
    font-weight: 600;
    line-height: 1.2;
    color: #333333;
    text-decoration: none;
}
.product-thumbnail a:hover, .product-thumbnail .name-text:hover{
    color: #000;
}
.product-thumbnail .price-text{
    font-size: 1rem;
    color: #777777;
    line-height: 1.75;
}